In [125]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
from datetime import datetime
import dateutil

with open('cities.json') as f:
    cities = json.load(f)

data = []

for city in cities:
    response = requests.get(city['NWS_URL'])
    soup = BeautifulSoup(response.content, 'html.parser')

    location = soup.find('h2', {'class': 'panel-title'})
    lat_lon_elev = soup.find('span', {'class': 'smallTxt'}).text.strip()
    lat, lon, elev = re.findall(r'[-+]?\d*\.\d+|\d+', lat_lon_elev)
    temperature = soup.find('p', {'class': 'myforecast-current-lrg'})
    humidity_elem = soup.find('td', text='Humidity')
    humidity = humidity_elem.find_next('td').text.strip() if humidity_elem else 'NA'
    wind_speed_elem = soup.find('td', text='Wind Speed')
    wind_speed = wind_speed_elem.find_next('td').text.strip() if wind_speed_elem else 'NA'
    barometer_elem = soup.find('td', text='Barometer')
    barometer = barometer_elem.find_next('td').text.strip() if barometer_elem else 'NA'
    dewpoint_elem = soup.find('td', text='Dewpoint')
    dewpoint = dewpoint_elem.find_next('td').text.strip() if dewpoint_elem else 'NA'
    visibility_elem = soup.find('td', text='Visibility')
    visibility = visibility_elem.find_next('td').text.strip() if visibility_elem else 'NA'
    wind_chill_elem = soup.find('td', text='Wind Chill')
    wind_chill = wind_chill_elem.find_next('td').text.strip() if wind_chill_elem else 'NA'
    last_update_elem = soup.find('td', text='Last update')
    last_update = last_update_elem.find_next('td').text.strip() if last_update_elem else 'NA'

    data.append({
        'location': city['Name'],
        'lat': lat,
        'lon': lon,
        'elev_ft': elev,
        'temperature': temperature.text if temperature else 'NA',
        'humidity': humidity,
        'wind_speed': wind_speed,
        'barometer': barometer,
        'dewpoint': dewpoint,
        'vis_miles': visibility,
        'wind_chill': wind_chill,
        'last_update': last_update
    })

df = pd.DataFrame(data)
print(df)

/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:21: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:23: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:25: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:27: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:29: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:31: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/ipykernel_launcher.py:33: DeprecationWarning: The 'text' argument to find()-type methods is deprecated. Use 'string' instead.

              location       lat        lon elev_ft temperature humidity  \
0         Portland, OR  45.59578  122.60917      20        36°F      86%
1        San Diego, CA  32.73361  117.18306      13        57°F      67%
2           Duluth, MN     46.72      92.04     607        34°F      93%
3      Minneapolis, MN     44.88      93.23     840        37°F      86%
4   Salt Lake City, UT  40.77069  111.96503    4226        30°F      54%
5           Denver, CO     39.71     104.76    5577        40°F      43%
6    San Francisco, CA  37.77056  122.42694     150        44°F      44%
7    New York City, NY     40.78      73.97     154        50°F      30%
8         Portland, ME     43.64       70.3      72        43°F      53%
9          Seattle, WA  47.54548   122.3147      20        36°F      80%
10       Baltimore, MD     39.28      76.62      20        57°F      28%

       wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0         N 0 MPH  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1      WSW 16 MPH   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2         E 3 mph               29.47 in   32°F (0°C)  10.00 mi           NA
3       SE 13 mph    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4         N 0 MPH   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5       NE 14 mph    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6       NA NA MPH                     NA  23°F (-5°C)        NA           NA
7      Vrbl 3 mph   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8   N 20 G 24 mph   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9         N 3 MPH  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10             NA   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update
0   14 Feb 08:20 AM PST
1   14 Feb 08:20 AM PST
2   14 Feb 12:35 pm CST
3   14 Feb 11:53 am CST
4   14 Feb 09:20 AM MST
5   14 Feb 10:58 am MST
6   14 Feb 06:43 AM PST
7   14 Feb 12:51 pm EST
8   14 Feb 12:51 pm EST
9   14 Feb 08:20 AM PST
10  14 Feb 12:54 pm EST

In [126]:
df.dtypes

location       object
lat            object
lon            object
elev_ft        object
temperature    object
humidity       object
wind_speed     object
barometer      object
dewpoint       object
vis_miles      object
wind_chill     object
last_update    object
dtype: object

In [127]:
# Split the 'location' column into separate 'city' and 'state' columns
df[['city', 'state']] = df['location'].str.split(', ', expand=True)

print(df)

              location       lat        lon elev_ft temperature humidity  \
0         Portland, OR  45.59578  122.60917      20        36°F      86%
1        San Diego, CA  32.73361  117.18306      13        57°F      67%
2           Duluth, MN     46.72      92.04     607        34°F      93%
3      Minneapolis, MN     44.88      93.23     840        37°F      86%
4   Salt Lake City, UT  40.77069  111.96503    4226        30°F      54%
5           Denver, CO     39.71     104.76    5577        40°F      43%
6    San Francisco, CA  37.77056  122.42694     150        44°F      44%
7    New York City, NY     40.78      73.97     154        50°F      30%
8         Portland, ME     43.64       70.3      72        43°F      53%
9          Seattle, WA  47.54548   122.3147      20        36°F      80%
10       Baltimore, MD     39.28      76.62      20        57°F      28%

       wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0         N 0 MPH  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1      WSW 16 MPH   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2         E 3 mph               29.47 in   32°F (0°C)  10.00 mi           NA
3       SE 13 mph    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4         N 0 MPH   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5       NE 14 mph    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6       NA NA MPH                     NA  23°F (-5°C)        NA           NA
7      Vrbl 3 mph   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8   N 20 G 24 mph   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9         N 3 MPH  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10             NA   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update            city state
0   14 Feb 08:20 AM PST        Portland    OR
1   14 Feb 08:20 AM PST       San Diego    CA
2   14 Feb 12:35 pm CST          Duluth    MN
3   14 Feb 11:53 am CST     Minneapolis    MN
4   14 Feb 09:20 AM MST  Salt Lake City    UT
5   14 Feb 10:58 am MST          Denver    CO
6   14 Feb 06:43 AM PST   San Francisco    CA
7   14 Feb 12:51 pm EST   New York City    NY
8   14 Feb 12:51 pm EST        Portland    ME
9   14 Feb 08:20 AM PST         Seattle    WA
10  14 Feb 12:54 pm EST       Baltimore    MD

In [128]:
# Convert 'lat' and 'lon' columns to float type
df[['lat', 'lon']] = df[['lat', 'lon']].astype(float)

# Convert 'elev' column to int type
df['elev_ft'] = df['elev_ft'].astype(int)
print(df)

              location       lat        lon  elev_ft temperature humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      86%
1        San Diego, CA  32.73361  117.18306       13        57°F      67%
2           Duluth, MN  46.72000   92.04000      607        34°F      93%
3      Minneapolis, MN  44.88000   93.23000      840        37°F      86%
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      54%
5           Denver, CO  39.71000  104.76000     5577        40°F      43%
6    San Francisco, CA  37.77056  122.42694      150        44°F      44%
7    New York City, NY  40.78000   73.97000      154        50°F      30%
8         Portland, ME  43.64000   70.30000       72        43°F      53%
9          Seattle, WA  47.54548  122.31470       20        36°F      80%
10       Baltimore, MD  39.28000   76.62000       20        57°F      28%

       wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0         N 0 MPH  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1      WSW 16 MPH   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2         E 3 mph               29.47 in   32°F (0°C)  10.00 mi           NA
3       SE 13 mph    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4         N 0 MPH   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5       NE 14 mph    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6       NA NA MPH                     NA  23°F (-5°C)        NA           NA
7      Vrbl 3 mph   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8   N 20 G 24 mph   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9         N 3 MPH  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10             NA   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update            city state
0   14 Feb 08:20 AM PST        Portland    OR
1   14 Feb 08:20 AM PST       San Diego    CA
2   14 Feb 12:35 pm CST          Duluth    MN
3   14 Feb 11:53 am CST     Minneapolis    MN
4   14 Feb 09:20 AM MST  Salt Lake City    UT
5   14 Feb 10:58 am MST          Denver    CO
6   14 Feb 06:43 AM PST   San Francisco    CA
7   14 Feb 12:51 pm EST   New York City    NY
8   14 Feb 12:51 pm EST        Portland    ME
9   14 Feb 08:20 AM PST         Seattle    WA
10  14 Feb 12:54 pm EST       Baltimore    MD

In [129]:
# Extract the numeric part of the temperature string and convert it to int
df['temp_f'] = df['temperature'].str.extract('(\d+)').astype(int)

# Convert temperature to Celsius and add to new column 'temp_c'
df['temp_c'] = (df['temp_f'] - 32) * 5/9

# Round 'temp_c' to nearest integer and cast to int type
df['temp_c'] = df['temp_c'].round().astype(int)
print(df)

              location       lat        lon  elev_ft temperature humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      86%
1        San Diego, CA  32.73361  117.18306       13        57°F      67%
2           Duluth, MN  46.72000   92.04000      607        34°F      93%
3      Minneapolis, MN  44.88000   93.23000      840        37°F      86%
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      54%
5           Denver, CO  39.71000  104.76000     5577        40°F      43%
6    San Francisco, CA  37.77056  122.42694      150        44°F      44%
7    New York City, NY  40.78000   73.97000      154        50°F      30%
8         Portland, ME  43.64000   70.30000       72        43°F      53%
9          Seattle, WA  47.54548  122.31470       20        36°F      80%
10       Baltimore, MD  39.28000   76.62000       20        57°F      28%

       wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0         N 0 MPH  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1      WSW 16 MPH   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2         E 3 mph               29.47 in   32°F (0°C)  10.00 mi           NA
3       SE 13 mph    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4         N 0 MPH   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5       NE 14 mph    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6       NA NA MPH                     NA  23°F (-5°C)        NA           NA
7      Vrbl 3 mph   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8   N 20 G 24 mph   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9         N 3 MPH  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10             NA   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update            city state  temp_f  temp_c
0   14 Feb 08:20 AM PST        Portland    OR      36       2
1   14 Feb 08:20 AM PST       San Diego    CA      57      14
2   14 Feb 12:35 pm CST          Duluth    MN      34       1
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1
5   14 Feb 10:58 am MST          Denver    CO      40       4
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7
7   14 Feb 12:51 pm EST   New York City    NY      50      10
8   14 Feb 12:51 pm EST        Portland    ME      43       6
9   14 Feb 08:20 AM PST         Seattle    WA      36       2
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14

In [130]:
# Convert 'humidity' column to float type
df['humidity'] = df['humidity'].str.extract('(\d+)', expand=False).astype(float) / 100

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

       wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0         N 0 MPH  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1      WSW 16 MPH   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2         E 3 mph               29.47 in   32°F (0°C)  10.00 mi           NA
3       SE 13 mph    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4         N 0 MPH   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5       NE 14 mph    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6       NA NA MPH                     NA  23°F (-5°C)        NA           NA
7      Vrbl 3 mph   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8   N 20 G 24 mph   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9         N 3 MPH  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10             NA   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update            city state  temp_f  temp_c
0   14 Feb 08:20 AM PST        Portland    OR      36       2
1   14 Feb 08:20 AM PST       San Diego    CA      57      14
2   14 Feb 12:35 pm CST          Duluth    MN      34       1
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1
5   14 Feb 10:58 am MST          Denver    CO      40       4
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7
7   14 Feb 12:51 pm EST   New York City    NY      50      10
8   14 Feb 12:51 pm EST        Portland    ME      43       6
9   14 Feb 08:20 AM PST         Seattle    WA      36       2
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14

In [131]:
# Split wind speed values into components and convert speed to int type
df['wind_speed'] = df['wind_speed'].str.extract('(\d+)', expand=False).fillna(0).astype(int)

# Set any missing or non-numeric wind speed values to 0
df['wind_speed'] = df['wind_speed'].replace('Calm', 0)

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed              barometer     dewpoint vis_miles   wind_chill  \
0            0  30.05 in (1017.61 mb)   32°F (0°C)  10.00 mi           NA
1           16   30.0 in (1015.92 mb)   46°F (8°C)  10.00 mi           NA
2            3               29.47 in   32°F (0°C)  10.00 mi           NA
3           13    29.44 in (997.6 mb)   33°F (1°C)   8.00 mi  29°F (-2°C)
4            0   29.66 in (1004.4 mb)  16°F (-9°C)  10.00 mi           NA
5           14    29.28 in (990.2 mb)  19°F (-7°C)  10.00 mi   32°F (0°C)
6            0                     NA  23°F (-5°C)        NA           NA
7            3   30.08 in (1017.8 mb)  20°F (-7°C)  10.00 mi           NA
8           20   29.92 in (1013.4 mb)  27°F (-3°C)  10.00 mi   34°F (1°C)
9            3  30.09 in (1018.96 mb)  30°F (-1°C)  10.00 mi           NA
10           0   30.12 in (1019.9 mb)  24°F (-4°C)        NA           NA

            last_update            city state  temp_f  temp_c
0   14 Feb 08:20 AM PST        Portland    OR      36       2
1   14 Feb 08:20 AM PST       San Diego    CA      57      14
2   14 Feb 12:35 pm CST          Duluth    MN      34       1
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1
5   14 Feb 10:58 am MST          Denver    CO      40       4
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7
7   14 Feb 12:51 pm EST   New York City    NY      50      10
8   14 Feb 12:51 pm EST        Portland    ME      43       6
9   14 Feb 08:20 AM PST         Seattle    WA      36       2
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14

In [135]:
# Convert 'barometer' column to float type, and convert inches to millibars
df['barometer'] = df['barometer'].apply(lambda x: float(x.split()[0]) * 33.8639 if 'in' in x and x != 'NA' else None)

# Round 'barometer' to two decimal places
df['barometer'] = df['barometer'].round(2)



print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed  barometer     dewpoint vis_miles   wind_chill  \
0            0    1017.61   32°F (0°C)  10.00 mi           NA
1           16    1015.92   46°F (8°C)  10.00 mi           NA
2            3     997.97   32°F (0°C)  10.00 mi           NA
3           13     996.95   33°F (1°C)   8.00 mi  29°F (-2°C)
4            0    1004.40  16°F (-9°C)  10.00 mi           NA
5           14     991.53  19°F (-7°C)  10.00 mi   32°F (0°C)
6            0        NaN  23°F (-5°C)        NA           NA
7            3    1018.63  20°F (-7°C)  10.00 mi           NA
8           20    1013.21  27°F (-3°C)  10.00 mi   34°F (1°C)
9            3    1018.96  30°F (-1°C)  10.00 mi           NA
10           0    1019.98  24°F (-4°C)        NA           NA

            last_update            city state  temp_f  temp_c
0   14 Feb 08:20 AM PST        Portland    OR      36       2
1   14 Feb 08:20 AM PST       San Diego    CA      57      14
2   14 Feb 12:35 pm CST          Duluth    MN      34       1
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1
5   14 Feb 10:58 am MST          Denver    CO      40       4
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7
7   14 Feb 12:51 pm EST   New York City    NY      50      10
8   14 Feb 12:51 pm EST        Portland    ME      43       6
9   14 Feb 08:20 AM PST         Seattle    WA      36       2
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14

In [136]:
# Split 'dewpoint' column into separate 'dewpoint_f' and 'dewpoint_c' columns
df[['dewpoint_f', 'dewpoint_c']] = df['dewpoint'].str.extract('(\d+).*?(\d+)', expand=True).astype(int)

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed  barometer     dewpoint vis_miles   wind_chill  \
0            0    1017.61   32°F (0°C)  10.00 mi           NA
1           16    1015.92   46°F (8°C)  10.00 mi           NA
2            3     997.97   32°F (0°C)  10.00 mi           NA
3           13     996.95   33°F (1°C)   8.00 mi  29°F (-2°C)
4            0    1004.40  16°F (-9°C)  10.00 mi           NA
5           14     991.53  19°F (-7°C)  10.00 mi   32°F (0°C)
6            0        NaN  23°F (-5°C)        NA           NA
7            3    1018.63  20°F (-7°C)  10.00 mi           NA
8           20    1013.21  27°F (-3°C)  10.00 mi   34°F (1°C)
9            3    1018.96  30°F (-1°C)  10.00 mi           NA
10           0    1019.98  24°F (-4°C)        NA           NA

            last_update            city state  temp_f  temp_c  dewpoint_f  \
0   14 Feb 08:20 AM PST        Portland    OR      36       2          32
1   14 Feb 08:20 AM PST       San Diego    CA      57      14          46
2   14 Feb 12:35 pm CST          Duluth    MN      34       1          32
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3          33
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1          16
5   14 Feb 10:58 am MST          Denver    CO      40       4          19
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7          23
7   14 Feb 12:51 pm EST   New York City    NY      50      10          20
8   14 Feb 12:51 pm EST        Portland    ME      43       6          27
9   14 Feb 08:20 AM PST         Seattle    WA      36       2          30
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14          24

    dewpoint_c
0            0
1            8
2            0
3            1
4            9
5            7
6            5
7            7
8            3
9            1
10           4

In [137]:
# Convert 'vis_miles' column to float type
df['vis_miles'] = df['vis_miles'].str.extract('(\d+\.\d+|\d+)', expand=False).astype(float).round(2)

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed  barometer     dewpoint  vis_miles   wind_chill  \
0            0    1017.61   32°F (0°C)       10.0           NA
1           16    1015.92   46°F (8°C)       10.0           NA
2            3     997.97   32°F (0°C)       10.0           NA
3           13     996.95   33°F (1°C)        8.0  29°F (-2°C)
4            0    1004.40  16°F (-9°C)       10.0           NA
5           14     991.53  19°F (-7°C)       10.0   32°F (0°C)
6            0        NaN  23°F (-5°C)        NaN           NA
7            3    1018.63  20°F (-7°C)       10.0           NA
8           20    1013.21  27°F (-3°C)       10.0   34°F (1°C)
9            3    1018.96  30°F (-1°C)       10.0           NA
10           0    1019.98  24°F (-4°C)        NaN           NA

            last_update            city state  temp_f  temp_c  dewpoint_f  \
0   14 Feb 08:20 AM PST        Portland    OR      36       2          32
1   14 Feb 08:20 AM PST       San Diego    CA      57      14          46
2   14 Feb 12:35 pm CST          Duluth    MN      34       1          32
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3          33
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1          16
5   14 Feb 10:58 am MST          Denver    CO      40       4          19
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7          23
7   14 Feb 12:51 pm EST   New York City    NY      50      10          20
8   14 Feb 12:51 pm EST        Portland    ME      43       6          27
9   14 Feb 08:20 AM PST         Seattle    WA      36       2          30
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14          24

    dewpoint_c
0            0
1            8
2            0
3            1
4            9
5            7
6            5
7            7
8            3
9            1
10           4

In [138]:
# Split 'wind_chill' column into separate 'wind_chill_f' and 'wind_chill_c' columns
df[['wind_chill_f', 'wind_chill_c']] = df['wind_chill'].str.extract('(\d+).*?(\d+)', expand=True).astype(float)

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed  barometer     dewpoint  vis_miles   wind_chill  \
0            0    1017.61   32°F (0°C)       10.0           NA
1           16    1015.92   46°F (8°C)       10.0           NA
2            3     997.97   32°F (0°C)       10.0           NA
3           13     996.95   33°F (1°C)        8.0  29°F (-2°C)
4            0    1004.40  16°F (-9°C)       10.0           NA
5           14     991.53  19°F (-7°C)       10.0   32°F (0°C)
6            0        NaN  23°F (-5°C)        NaN           NA
7            3    1018.63  20°F (-7°C)       10.0           NA
8           20    1013.21  27°F (-3°C)       10.0   34°F (1°C)
9            3    1018.96  30°F (-1°C)       10.0           NA
10           0    1019.98  24°F (-4°C)        NaN           NA

            last_update            city state  temp_f  temp_c  dewpoint_f  \
0   14 Feb 08:20 AM PST        Portland    OR      36       2          32
1   14 Feb 08:20 AM PST       San Diego    CA      57      14          46
2   14 Feb 12:35 pm CST          Duluth    MN      34       1          32
3   14 Feb 11:53 am CST     Minneapolis    MN      37       3          33
4   14 Feb 09:20 AM MST  Salt Lake City    UT      30      -1          16
5   14 Feb 10:58 am MST          Denver    CO      40       4          19
6   14 Feb 06:43 AM PST   San Francisco    CA      44       7          23
7   14 Feb 12:51 pm EST   New York City    NY      50      10          20
8   14 Feb 12:51 pm EST        Portland    ME      43       6          27
9   14 Feb 08:20 AM PST         Seattle    WA      36       2          30
10  14 Feb 12:54 pm EST       Baltimore    MD      57      14          24

    dewpoint_c  wind_chill_f  wind_chill_c
0            0           NaN           NaN
1            8           NaN           NaN
2            0           NaN           NaN
3            1          29.0           2.0
4            9           NaN           NaN
5            7          32.0           0.0
6            5           NaN           NaN
7            7           NaN           NaN
8            3          34.0           1.0
9            1           NaN           NaN
10           4           NaN           NaN

In [139]:
# Convert 'last_update' column to datetime type with the desired format and time zone
df['last_update'] = df['last_update'].apply(lambda x: dateutil.parser.parse(x, tzinfos={'CST': dateutil.tz.tzoffset(None, -21600)}))

# Convert 'last_update' column to UTC
df['last_update'] = df['last_update'].apply(lambda x: x.astimezone(dateutil.tz.tzutc()))

print(df)

              location       lat        lon  elev_ft temperature  humidity  \
0         Portland, OR  45.59578  122.60917       20        36°F      0.86
1        San Diego, CA  32.73361  117.18306       13        57°F      0.67
2           Duluth, MN  46.72000   92.04000      607        34°F      0.93
3      Minneapolis, MN  44.88000   93.23000      840        37°F      0.86
4   Salt Lake City, UT  40.77069  111.96503     4226        30°F      0.54
5           Denver, CO  39.71000  104.76000     5577        40°F      0.43
6    San Francisco, CA  37.77056  122.42694      150        44°F      0.44
7    New York City, NY  40.78000   73.97000      154        50°F      0.30
8         Portland, ME  43.64000   70.30000       72        43°F      0.53
9          Seattle, WA  47.54548  122.31470       20        36°F      0.80
10       Baltimore, MD  39.28000   76.62000       20        57°F      0.28

    wind_speed  barometer     dewpoint  vis_miles   wind_chill  \
0            0    1017.61   32°F (0°C)       10.0           NA
1           16    1015.92   46°F (8°C)       10.0           NA
2            3     997.97   32°F (0°C)       10.0           NA
3           13     996.95   33°F (1°C)        8.0  29°F (-2°C)
4            0    1004.40  16°F (-9°C)       10.0           NA
5           14     991.53  19°F (-7°C)       10.0   32°F (0°C)
6            0        NaN  23°F (-5°C)        NaN           NA
7            3    1018.63  20°F (-7°C)       10.0           NA
8           20    1013.21  27°F (-3°C)       10.0   34°F (1°C)
9            3    1018.96  30°F (-1°C)       10.0           NA
10           0    1019.98  24°F (-4°C)        NaN           NA

                 last_update            city state  temp_f  temp_c  \
0  2023-02-14 16:20:00+00:00        Portland    OR      36       2
1  2023-02-14 16:20:00+00:00       San Diego    CA      57      14
2  2023-02-14 18:35:00+00:00          Duluth    MN      34       1
3  2023-02-14 17:53:00+00:00     Minneapolis    MN      37       3
4  2023-02-14 17:20:00+00:00  Salt Lake City    UT      30      -1
5  2023-02-14 18:58:00+00:00          Denver    CO      40       4
6  2023-02-14 14:43:00+00:00   San Francisco    CA      44       7
7  2023-02-14 20:51:00+00:00   New York City    NY      50      10
8  2023-02-14 20:51:00+00:00        Portland    ME      43       6
9  2023-02-14 16:20:00+00:00         Seattle    WA      36       2
10 2023-02-14 20:54:00+00:00       Baltimore    MD      57      14

    dewpoint_f  dewpoint_c  wind_chill_f  wind_chill_c
0           32           0           NaN           NaN
1           46           8           NaN           NaN
2           32           0           NaN           NaN
3           33           1          29.0           2.0
4           16           9           NaN           NaN
5           19           7          32.0           0.0
6           23           5           NaN           NaN
7           20           7           NaN           NaN
8           27           3          34.0           1.0
9           30           1           NaN           NaN
10          24           4           NaN           NaN

/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname MST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/Users/drewwhite/Desktop/Epicodus/team-week3/venv/lib/python3.7/site-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [140]:
# Drop columns that were split into two values
df = df.drop(['temperature', 'dewpoint', 'wind_chill'], axis=1)

print(df)

              location       lat        lon  elev_ft  humidity  wind_speed  \
0         Portland, OR  45.59578  122.60917       20      0.86           0
1        San Diego, CA  32.73361  117.18306       13      0.67          16
2           Duluth, MN  46.72000   92.04000      607      0.93           3
3      Minneapolis, MN  44.88000   93.23000      840      0.86          13
4   Salt Lake City, UT  40.77069  111.96503     4226      0.54           0
5           Denver, CO  39.71000  104.76000     5577      0.43          14
6    San Francisco, CA  37.77056  122.42694      150      0.44           0
7    New York City, NY  40.78000   73.97000      154      0.30           3
8         Portland, ME  43.64000   70.30000       72      0.53          20
9          Seattle, WA  47.54548  122.31470       20      0.80           3
10       Baltimore, MD  39.28000   76.62000       20      0.28           0

    barometer  vis_miles               last_update            city state  \
0     1017.61       10.0 2023-02-14 16:20:00+00:00        Portland    OR
1     1015.92       10.0 2023-02-14 16:20:00+00:00       San Diego    CA
2      997.97       10.0 2023-02-14 18:35:00+00:00          Duluth    MN
3      996.95        8.0 2023-02-14 17:53:00+00:00     Minneapolis    MN
4     1004.40       10.0 2023-02-14 17:20:00+00:00  Salt Lake City    UT
5      991.53       10.0 2023-02-14 18:58:00+00:00          Denver    CO
6         NaN        NaN 2023-02-14 14:43:00+00:00   San Francisco    CA
7     1018.63       10.0 2023-02-14 20:51:00+00:00   New York City    NY
8     1013.21       10.0 2023-02-14 20:51:00+00:00        Portland    ME
9     1018.96       10.0 2023-02-14 16:20:00+00:00         Seattle    WA
10    1019.98        NaN 2023-02-14 20:54:00+00:00       Baltimore    MD

    temp_f  temp_c  dewpoint_f  dewpoint_c  wind_chill_f  wind_chill_c
0       36       2          32           0           NaN           NaN
1       57      14          46           8           NaN           NaN
2       34       1          32           0           NaN           NaN
3       37       3          33           1          29.0           2.0
4       30      -1          16           9           NaN           NaN
5       40       4          19           7          32.0           0.0
6       44       7          23           5           NaN           NaN
7       50      10          20           7           NaN           NaN
8       43       6          27           3          34.0           1.0
9       36       2          30           1           NaN           NaN
10      57      14          24           4           NaN           NaN

In [141]:
# Move 'city' and 'state' columns after 'location' column
city = df.pop('city')
state = df.pop('state')
temp_f = df.pop('temp_f')
temp_c = df.pop('temp_c')
df.insert(1, 'city', city)
df.insert(2, 'state', state)
df.insert(6, 'temp_f', temp_f)
df.insert(7, 'temp_c', temp_c)

# Move 'last_update' column to last position
last_update = df.pop('last_update')
df['last_update'] = last_update


print(df)

              location            city state       lat        lon  elev_ft  \
0         Portland, OR        Portland    OR  45.59578  122.60917       20
1        San Diego, CA       San Diego    CA  32.73361  117.18306       13
2           Duluth, MN          Duluth    MN  46.72000   92.04000      607
3      Minneapolis, MN     Minneapolis    MN  44.88000   93.23000      840
4   Salt Lake City, UT  Salt Lake City    UT  40.77069  111.96503     4226
5           Denver, CO          Denver    CO  39.71000  104.76000     5577
6    San Francisco, CA   San Francisco    CA  37.77056  122.42694      150
7    New York City, NY   New York City    NY  40.78000   73.97000      154
8         Portland, ME        Portland    ME  43.64000   70.30000       72
9          Seattle, WA         Seattle    WA  47.54548  122.31470       20
10       Baltimore, MD       Baltimore    MD  39.28000   76.62000       20

    temp_f  temp_c  humidity  wind_speed  barometer  vis_miles  dewpoint_f  \
0       36       2      0.86           0    1017.61       10.0          32
1       57      14      0.67          16    1015.92       10.0          46
2       34       1      0.93           3     997.97       10.0          32
3       37       3      0.86          13     996.95        8.0          33
4       30      -1      0.54           0    1004.40       10.0          16
5       40       4      0.43          14     991.53       10.0          19
6       44       7      0.44           0        NaN        NaN          23
7       50      10      0.30           3    1018.63       10.0          20
8       43       6      0.53          20    1013.21       10.0          27
9       36       2      0.80           3    1018.96       10.0          30
10      57      14      0.28           0    1019.98        NaN          24

    dewpoint_c  wind_chill_f  wind_chill_c               last_update
0            0           NaN           NaN 2023-02-14 16:20:00+00:00
1            8           NaN           NaN 2023-02-14 16:20:00+00:00
2            0           NaN           NaN 2023-02-14 18:35:00+00:00
3            1          29.0           2.0 2023-02-14 17:53:00+00:00
4            9           NaN           NaN 2023-02-14 17:20:00+00:00
5            7          32.0           0.0 2023-02-14 18:58:00+00:00
6            5           NaN           NaN 2023-02-14 14:43:00+00:00
7            7           NaN           NaN 2023-02-14 20:51:00+00:00
8            3          34.0           1.0 2023-02-14 20:51:00+00:00
9            1           NaN           NaN 2023-02-14 16:20:00+00:00
10           4           NaN           NaN 2023-02-14 20:54:00+00:00

In [142]:
df.dtypes

location                         object
city                             object
state                            object
lat                             float64
lon                             float64
elev_ft                           int64
temp_f                            int64
temp_c                            int64
humidity                        float64
wind_speed                        int64
barometer                       float64
vis_miles                       float64
dewpoint_f                        int64
dewpoint_c                        int64
wind_chill_f                    float64
wind_chill_c                    float64
last_update     datetime64[ns, tzutc()]
dtype: object