### USCRN Data: High-Octane Scraping

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd 
import yaml 
import re
import itertools
from datetime import datetime

with open ("sources.yaml", "r") as yaml_file:
  sources = yaml.load(yaml_file, Loader=yaml.FullLoader)

##### 1.) Scrape Column Headers and Descriptions

In [7]:
header_url = sources['USCRN']['headers']
header_response = requests.get(header_url)
header_soup = BeautifulSoup(header_response.content, "html.parser")

columns = str(header_soup).split("\n")[1].strip(" ").split(" ")
columns = list(map(lambda x: str.lower(x), columns)) # columns = [str.lower(c) for c in columns] -- faster?
columns.insert(0,'station_location')

descrip_text = str(header_soup).split("\n")[2] # raw text block containing column descriptions
descrip_text

"The station WBAN number. The UTC date of the observation. The UTC time of the observation. Time is the end of the observed hour, so the 0000 hour is actually the last hour of the previous day's observation (starting just after 11:00 PM through midnight). The Local Standard Time (LST) date of the observation. The Local Standard Time (LST) time of the observation. Time is the end of the observed hour (see UTC_TIME description). The version number of the station datalogger program that was in effect at the time of the observation. Note: This field should be treated as text (i.e. string). Station longitude, using WGS-84. Station latitude, using WGS-84. Average air temperature, in degrees C, during the last 5 minutes of the hour. See Note F. Average air temperature, in degrees C, for the entire hour. See Note F. Maximum air temperature, in degrees C, during the hour. See Note F. Minimum air temperature, in degrees C, during the hour. See Note F. Total amount of precipitation, in mm, recorded during the hour. See Note F. Average global solar radiation, in watts/meter^2. QC flag for average global solar radiation. See Note G. Maximum global solar radiation, in watts/meter^2. QC flag for maximum global solar radiation. See Note G. Minimum global solar radiation, in watts/meter^2. QC flag for minimum global solar radiation. See Note G. Type of infrared surface temperature measurement: 'R' denotes raw (uncorrected), 'C' denotes corrected, and 'U' when unknown/missing. See Note H. Average infrared surface temperature, in degrees C. See Note H. QC flag for infrared surface temperature. See Note G. Maximum infrared surface temperature, in degrees C. QC flag for infrared surface temperature maximum. See Note G. Minimum infrared surface temperature, in degrees C. QC flag for infrared surface temperature minimum. See Note G. RH average for hour, in percentage. See Note I. QC flag for RH average. See Note G. Average soil moisture at 5 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 10 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 20 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 50 cm below the surface, in m^3/m^3. See Note K. Average soil moisture at 100 cm below the surface, in m^3/m^3. See Note K. Average soil temperature at 5 cm below the surface, in degrees C. See Note K. Average soil temperature at 10 cm below the surface, in degrees C. See Note K. Average soil temperature at 20 cm below the surface, in degrees C. See Note K. Average soil temperature at 50 cm below the surface, in degrees C. See Note K. Average soil temperature at 100 cm below the surface, in degrees C. See Note K. "

The descriptions of the columns are quite the mess, as there is no standard separator used. We will have to work our way through it step by step:

In [3]:
first_split = [re.sub(r'(\([^)]*)$', r"\1)", s) for s in descrip_text.split("). ")] # add ')' back after splitting text on ').' 
no_notes = [re.sub(r' See Note [A-Z]\.',"",s) for s in first_split] # drop any references to notes

The third entry in `no_notes` is ready. The last set of descriptions in `no_notes` can be split on `". "`, but the first two sets need special attention. We will pop the last set out and split it, then pop the third set out, and then address the first two sets. At that point we will recombine everything into one list while preserving the original order.

In [4]:
last_set = no_notes.pop().strip().split(". ")
third_set = no_notes.pop() # Note: just a string

In [5]:
def flatten(ls:list): 
  return list(itertools.chain.from_iterable(ls)) 

no_notes = [re.sub(". Time is", " at", s) for s in no_notes]
first_second = flatten([s.split(". ") for s in no_notes])

# Finally:
descriptions = flatten([["Location name for USCRN station"], first_second, [third_set], last_set]) # Description added for "station_location"

In [6]:
header_info = {
  'col_name': columns,
  'description': descriptions, 
  'units': ["X...(Various Lengths)","XXXXX", "YYYYMMDD", "HHmm", "YYYYMMDD", "HHmm", "XXXXXX", "Decimal_degrees", "Decimal_degrees", "Celsius", "Celsius", "Celsius", "Celsius", "mm", "W/m^2", "X", "W/m^2", "X", "W/m^2", "X", "X", "Celsius", "X", "Celsius", "X", "Celsius", "X", "%", "X", "m^3/m^3", "m^3/m^3", "m^3/m^3", "m^3/m^3", "m^3/m^3", "Celsius", "Celsius", "Celsius", "Celsius", "Celsius"]
}

header_df = pd.DataFrame(header_info)
# header_df.to_csv("data/column_descriptions.csv", index=True)

##### 2.) Scrape Core Data Files (>2 million rows)

In [3]:
base_url = sources["USCRN"]["index"]
base_response = requests.get(base_url)
base_soup = BeautifulSoup(base_response.content, "html.parser")

In [4]:
links = base_soup.find_all("a") # 'links' in this notebook will refer to <a> elements, not urls
years = [str(x).zfill(1) for x in range(2000,2024)]
year_links = [link for link in links if link['href'].rstrip('/') in years]

file_urls = []
for year_link in year_links: 
  year_url = base_url + year_link.get("href")
  response = requests.get(year_url) 
  soup = BeautifulSoup(response.content, 'html.parser')
  file_links = soup.find_all('a', href=re.compile(r'AK.*\.txt'))
  if file_links:
    new_file_urls = [year_url + link.getText() for link in file_links]
    file_urls.extend(new_file_urls)

In [5]:
rows = []
regex = r"([St.]*[A-Z][a-z]+_*[A-Za-z]*).*.txt" 
for url in file_urls:
  # Get location from url -- will add to BS results in next step
  file_name = re.search(regex, url).group(0)
  station_location = re.sub("(_formerly_Barrow.*|_[0-9].*)", "", file_name)
  # Get results 
  response = requests.get(url)
  soup = BeautifulSoup(response.content,'html.parser')
  soup_lines = [station_location + " " + line for line in str(soup).strip().split("\n")]
  #   soup_lines = [station_location + " " + line for line in str(soup).split("\n")] <-- Old Code 
  new_rows = [re.split('\s+', row) for row in soup_lines]
  rows.extend(new_rows)

In [8]:
df = pd.DataFrame(rows, columns=columns)

In [9]:
df.sample(10)

,station_location,wbanno,utc_date,utc_time,lst_date,lst_time,crx_vn,longitude,latitude,t_calc,...,soil_moisture_5,soil_moisture_10,soil_moisture_20,soil_moisture_50,soil_moisture_100,soil_temp_5,soil_temp_10,soil_temp_20,soil_temp_50,soil_temp_100
825018,Denali,96408,20160122,0600,20160121,2100,-9.000,-150.87,63.45,-9999.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1069058,Red_Dog_Mine,26655,20170203,0900,20170203,0000,2.424,-162.92,68.03,-7.9,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1716189,Toolik_Lake,96409,20201211,0200,20201210,1700,2.514,-149.40,68.65,-25.6,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1804470,Ivotuk,26564,20210106,1100,20210106,0200,2.515,-155.75,68.49,-35.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
911645,Red_Dog_Mine,26655,20161202,1700,20161202,0800,2.424,-162.92,68.03,-20.8,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
198496,St._Paul,25711,20090609,1000,20090609,0100,1.302,-170.21,57.16,3.6,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2127366,Utqiagvik,27516,20221116,1100,20221116,0200,2.424,-156.61,71.32,-5.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
255036,St._Paul,25711,20100315,0200,20100314,1700,1.302,-170.21,57.16,-14.4,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2120239,Utqiagvik,27516,20220123,1200,20220123,0300,2.424,-156.61,71.32,-18.5,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
787573,Sitka,25379,20151015,0100,20151014,1600,2.424,-135.33,57.06,8.0,...,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [10]:
# Check for NaNs
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [station_location, wbanno, utc_date, utc_time, lst_date, lst_time, crx_vn, longitude, latitude, t_calc, t_hr_avg, t_max, t_min, p_calc, solarad, solarad_flag, solarad_max, solarad_max_flag, solarad_min, solarad_min_flag, sur_temp_type, sur_temp, sur_temp_flag, sur_temp_max, sur_temp_max_flag, sur_temp_min, sur_temp_min_flag, rh_hr_avg, rh_hr_avg_flag, soil_moisture_5, soil_moisture_10, soil_moisture_20, soil_moisture_50, soil_moisture_100, soil_temp_5, soil_temp_10, soil_temp_20, soil_temp_50, soil_temp_100]
Index: []

[0 rows x 39 columns]

Let's drop the soil temperature and moisture columns. These fields have missing data (-99.0 or -9999.0) for the vast majority of records.

In [11]:
soil_columns = df.filter(regex="soil")
soil_columns[soil_columns.isin([-99.0, -9999.0]).any(axis=1)]
soil_columns

,soil_moisture_5,soil_moisture_10,soil_moisture_20,soil_moisture_50,soil_moisture_100,soil_temp_5,soil_temp_10,soil_temp_20,soil_temp_50,soil_temp_100
0,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
1,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
3,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
4,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...
2163427,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2163428,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2163429,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2163430,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2163431,-99.000,-99.000,-99.000,-99.000,-99.000,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [12]:
df = df.filter(regex="^((?!soil).)*$")

Lastly, let's convert the date and time columns to `datetime` objects...

In [13]:
def combine_datetime(df):
    # pad time data with leading zeros
    df['utc_time'] = df['utc_time'].astype(str).str.pad(4, fillchar='0')
    df['lst_time'] = df['lst_time'].astype(str).str.pad(4, fillchar='0')

    # create new columns with concatenated datetime values
    df['utc_datetime'] = pd.to_datetime(df['utc_date'].astype(str) + df['utc_time'].fillna(''), format='%Y%m%d%H%M')
    df['lst_datetime'] = pd.to_datetime(df['lst_date'].astype(str) + df['lst_time'].fillna(''), format='%Y%m%d%H%M')

    # drop the original columns
    df.drop(['utc_date', 'utc_time', 'lst_date', 'lst_time'], axis=1, inplace=True)

    # reorder columns 
    cols = ['station_location', 'wbanno', 'utc_datetime', 'lst_datetime'] + list(df.columns)[4:-2]
    df = df[cols]

    return df

combine_datetime(df)

,station_location,wbanno,utc_datetime,lst_datetime,latitude,t_calc,t_hr_avg,t_max,t_min,p_calc,...,solarad_min_flag,sur_temp_type,sur_temp,sur_temp_flag,sur_temp_max,sur_temp_max_flag,sur_temp_min,sur_temp_min_flag,rh_hr_avg,rh_hr_avg_flag
0,Fairbanks,26494,2002-08-09 22:00:00,2002-08-09 13:00:00,64.97,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,0,R,19.4,3,-9999.0,0,-9999.0,0,0,3
1,Fairbanks,26494,2002-08-09 23:00:00,2002-08-09 14:00:00,64.97,10.0,11.1,12.0,10.0,-9999.0,...,0,R,14.6,0,-9999.0,0,-9999.0,0,0,3
2,Fairbanks,26494,2002-08-10 00:00:00,2002-08-09 15:00:00,64.97,12.0,10.5,12.0,9.9,0.0,...,0,R,15.0,0,-9999.0,0,-9999.0,0,0,3
3,Fairbanks,26494,2002-08-10 01:00:00,2002-08-09 16:00:00,64.97,12.1,11.9,12.2,11.5,0.0,...,0,R,15.4,0,-9999.0,0,-9999.0,0,0,3
4,Fairbanks,26494,2002-08-10 02:00:00,2002-08-09 17:00:00,64.97,11.9,12.0,12.1,11.9,0.0,...,0,R,14.2,0,-9999.0,0,-9999.0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163427,Yakutat,25382,2023-02-17 09:00:00,2023-02-17 00:00:00,59.51,-0.2,-0.2,-0.1,-0.3,0.3,...,0,C,-1.9,0,-1.2,0,-2.3,0,95,0
2163428,Yakutat,25382,2023-02-17 10:00:00,2023-02-17 01:00:00,59.51,-0.2,-0.2,-0.1,-0.2,0.0,...,0,C,-1.2,0,-1.0,0,-1.8,0,95,0
2163429,Yakutat,25382,2023-02-17 11:00:00,2023-02-17 02:00:00,59.51,-0.3,-0.3,-0.2,-0.3,0.0,...,0,C,-1.8,0,-1.7,0,-2.0,0,95,0
2163430,Yakutat,25382,2023-02-17 12:00:00,2023-02-17 03:00:00,59.51,-0.3,-0.3,-0.3,-0.3,0.0,...,0,C,-1.8,0,-1.7,0,-1.9,0,95,0
2163431,Yakutat,25382,2023-02-17 13:00:00,2023-02-17 04:00:00,59.51,-0.5,-0.4,-0.3,-0.5,0.0,...,0,C,-2.3,0,-1.9,0,-2.7,0,95,0

...and add a `date_added` column:

In [14]:
df['date_added_utc'] = datetime.utcnow()
# df.to_csv("data/uscrn.csv", index=False)

In [15]:
df.to_csv("data/uscrn.csv", index=False)

Let's also make a table for our various station locations. This will be useful when searching for the four-day forecasts in the NWS notebook.

In [1]:
locations = df[['station_location', 'wbanno', 'longitude', 'latitude']].drop_duplicates()
# locations.to_csv("data/locations.csv", index=False)

##### 3.) Upload Core Data to BigQuery

In [79]:
%%bash
bq mk -d --location=us-east4 team-week3:alaska

Dataset 'team-week3:alaska' successfully created.

Core Data:

In [3]:
from google.cloud import bigquery
from google.oauth2 import service_account

# Manually set schema to make columns required (NaN detection on upload) and avoid parsing certain columns as numeric (e.g. crx_vn, the flag columns)
# Setting these columns as strings will indicate that they are not made to have arithmetic calculations done on them
schema = [
  bigquery.SchemaField("station_location", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("wbanno", "STRING", mode="REQUIRED"),  
  bigquery.SchemaField("utc_datetime", "DATETIME", mode="REQUIRED"), 
  bigquery.SchemaField("lst_datetime", "DATETIME", mode="REQUIRED"), 
  bigquery.SchemaField("crx_vn", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("longitude", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("latitude", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("t_calc", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("t_hr_avg", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("t_max", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("t_min", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("p_calc", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("solarad", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("solarad_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("solarad_max", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("solarad_max_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("solarad_min", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("solarad_min_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_type", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_max", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_max_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_min", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("sur_temp_min_flag", "STRING", mode="REQUIRED"), 
  bigquery.SchemaField("rh_hr_avg", "FLOAT", mode="REQUIRED"), 
  bigquery.SchemaField("rh_hr_avg_flag", "STRING", mode="REQUIRED"), 
]

In [4]:
key_path = "/home/alex/.creds/alex-sa-tw3.json"
credentials = service_account.Credentials.from_service_account_file(
   key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

client = bigquery.Client(credentials=credentials, project=credentials.project_id)

table_id = f"{credentials.project_id}.alaska.uscrn"

jc = bigquery.LoadJobConfig(
   source_format = bigquery.SourceFormat.CSV,
   autodetect=False,
   schema=schema,
   create_disposition="CREATE_IF_NEEDED",
   write_disposition="WRITE_TRUNCATE", 
   destination_table_description="Historical weather data from USCRN stations in Alaska"
)

job = client.load_table_from_dataframe(df, table_id, job_config=jc)

job.result()

LoadJob<project=team-week3, location=us-east4, id=5a820e52-394a-4930-8489-45da5cf3036d>

##### 4.) DAG Task for Updating Dataset

In [64]:
import datetime as dt 

now = dt.datetime.now()
updates_url = sources['USCRN']['updates'] + f"{now.year}"

df = pd.read_html("https://www.ncei.noaa.gov/pub/data/uscrn/products/hourly02/updates/2023/", skiprows=[1,2])[0]
df.drop(["Size", "Description"], axis=1, inplace=True)
df.dropna(inplace=True)
cols = [re.sub(" ","_",str.lower(c)) for c in df.columns]
df.columns = cols
df['last_modified'] = pd.to_datetime(df['last_modified'])
df

                             name       last_modified
0     CRN60H0203-202301010100.txt 2022-12-31 20:47:00
1     CRN60H0203-202301010200.txt 2022-12-31 21:47:00
2     CRN60H0203-202301010300.txt 2022-12-31 22:53:00
3     CRN60H0203-202301010400.txt 2022-12-31 23:54:00
4     CRN60H0203-202301010500.txt 2023-01-01 00:49:00
...                           ...                 ...
1137  CRN60H0203-202302171000.txt 2023-02-17 05:47:00
1138  CRN60H0203-202302171100.txt 2023-02-17 06:47:00
1139  CRN60H0203-202302171200.txt 2023-02-17 07:47:00
1140  CRN60H0203-202302171300.txt 2023-02-17 08:47:00
1141  CRN60H0203-202302171400.txt 2023-02-17 09:47:00

[1142 rows x 2 columns]

In [83]:
from collections import deque
from io import StringIO

with open("data/uscrn.csv", 'r') as fp:
    q = deque(fp, 1)  
latest_date = pd.read_csv(StringIO(''.join(q)), header=None).iloc[0,3]

'2023-02-16 07:00:00'

In [28]:

cur_year = dt.datetime.now().year
latest_updates_link = soup.find(lambda tag: tag.name == "td" and f"{cur_year}" in tag.text)
latest_updates_link

In [10]:
years = [str(x).zfill(1) for x in range(2000,2024)]
year_links = [link for link in links if link['href'].rstrip('/') in years]

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">

<html>
<head>
<title>Index of /pub/data/uscrn/products/hourly02</title>
</head>
<body>
<h1>Index of /pub/data/uscrn/products/hourly02</h1>
<table>
<tr><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
<tr><th colspan="4"><hr/></th></tr>
<tr><td><a href="/pub/data/uscrn/products/">Parent Directory</a></td><td> </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2000/">2000/</a></td><td align="right">2020-10-02 10:29  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2001/">2001/</a></td><td align="right">2020-10-02 10:29  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2002/">2002/</a></td><td align="right">2020-10-02 10:29  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2003/">2003/</a></td><td align="right">2020-10-02 10:29  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2004/">2004/</a></td><td align="right">2020-10-06 18:40  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2005/">2005/</a></td><td align="right">2020-10-06 18:40  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2006/">2006/</a></td><td align="right">2020-10-06 18:40  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2007/">2007/</a></td><td align="right">2021-11-10 16:34  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2008/">2008/</a></td><td align="right">2020-12-01 00:35  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2009/">2009/</a></td><td align="right">2021-05-25 20:38  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2010/">2010/</a></td><td align="right">2021-11-10 16:34  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2011/">2011/</a></td><td align="right">2021-11-12 16:40  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2012/">2012/</a></td><td align="right">2021-11-12 16:42  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2013/">2013/</a></td><td align="right">2021-11-15 16:33  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2014/">2014/</a></td><td align="right">2021-11-15 16:33  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2015/">2015/</a></td><td align="right">2021-11-12 21:02  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2016/">2016/</a></td><td align="right">2021-11-12 21:02  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2017/">2017/</a></td><td align="right">2021-11-15 16:33  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2018/">2018/</a></td><td align="right">2021-11-12 21:02  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2019/">2019/</a></td><td align="right">2021-11-24 16:29  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2020/">2020/</a></td><td align="right">2021-11-30 16:34  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2021/">2021/</a></td><td align="right">2022-01-29 16:28  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2022/">2022/</a></td><td align="right">2022-08-23 21:32  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="2023/">2023/</a></td><td align="right">2023-02-02 15:18  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="headers.txt">headers.txt</a></td><td align="right">2022-02-18 14:44  </td><td align="right">3.2K</td><td> </td></tr>
<tr><td><a href="readme.txt">readme.txt</a></td><td align="right">2022-02-18 14:44  </td><td align="right"> 21K</td><td> </td></tr>
<tr><td><a href="snapshots/">snapshots/</a></td><td align="right">2023-02-13 02:50  </td><td align="right">  - </td><td> </td></tr>
<tr><td><a href="updates/">updates/</a></td><td align="right">2022-12-31 20:47  </td><td align="right">  - </td><td> </td></tr>
<tr><th colspan="4"><hr/></th></tr>
</table>
<pre>
                          USCRN/USRCRN HOURLY FILES

                            UPDATED: 2017-07-06

README CONTENTS:
    1. GENERAL INFORMATION
    2. DATA VERSION / STATUS UPDATES
    3. DIRECTORY ORGANIZATION
    4. FILE AND FILENAME FORMATS
        A. YEARLY
        B. SNAPSHOTS
        C. UPDATES
    5. DATA FIELDS / FORMATS / IMPORTANT NOTES

********************************************************************************

1. GENERAL INFORMATION

NCDC provides access to hourly data from the U.S. Climate Reference Network /
U.S. Regional Climate Reference Network (USCRN/USRCRN) via anonymous ftp at:

        ftp://ftp.ncdc.noaa.gov/pub/data/uscrn/products/hourly02

and an identical web interface at:

        http://www1.ncdc.noaa.gov/pub/data/uscrn/products/hourly02

Before using these data, be sure to review this document carefully, as well
as any announcements within the main (hourly02) directory.

********************************************************************************

2. DATA VERSION / STATUS UPDATES

Status and Version Information for U.S. Climate Reference Network Data

  ##########################

Version change:     2.1 to 2.1.1
Commencement Date:  2017-06-20
Completion Date:    2017-06-30
Variables impacted: Precipitation

    Effective June 30, 2017, recalculation using the Official Algorithm
for Precipitation (OAP) 2.1.1 has been completed. The purpose of this
recalculation is described in Appendix A of the OAP 2.1 documentation:
https://www1.ncdc.noaa.gov/pub/data/uscrn/documentation/maintenance/2016-05/USCRN_OAP2.1.Description_PrecipChanges.pdf

  ##########################

Status change:      Correction
Correction Applied: 2017-05-01
Variables impacted: Precipitation for 3 stations

    From July 2016 until May 1, 2017, the precipitation values for
the following stations and time periods were mistakenly missing on
the website and in the FTP product files:
		NC Asheville 8 SSW          2004-05-01 to 2004-11-01
		SC McClellanville 7 NE      2005-05-01 to 2005-11-01
		CA Stovepipe Wells 1 SW     2004-05-01 to 2005-06-01
Precipitation data for these stations/time periods that were downloaded
during the affected time period should be re-acquired.

  ##########################

Version change:     2.0 to 2.1
Commencement Date:  2016-05-12
Completion Date:    2016-06-13
Variables impacted: Precipitation
                    Relative Humidity (RH)
                    Temperatures from RH Sensor
                    Thermometer Shield Aspiration Fan Speeds
                    Air Temperature (when fan speeds are low)

    Beginning May 12, 2016, USCRN changed the current data set to
version 2.1 from v2.0. This version change was retroactively applied to
all USCRN/USRCRN stations for their period-of-record 5-minute measurements
from 2016-05-12 until 2016-06-13. [Note that during this period of
reprocessing, data on the website and in these FTP products contained
a mixture of v2.0 and v2.1 values.]
    Version 2.1 includes minor precipitation algorithm changes and
changes/additions to the quality control ranges for acceptable
relative humidity (RH) values, temperatures measured with the
RH sensors, and for the speed of the fans which are used to
aspirate the air temperature sensors. For precipitation, the Official
Algorithm for Precipitation (OAP) v2.1 was implemented which
addresses a minor correction to v2.0 that guards against
overally large (&gt; 0.3 mm) precipitation residuals from one hour
being transferred to the next hour. Further information can be found at
http://www.ncdc.noaa.gov/crn/documentation.html.

  ##########################

Version change:     1.0 to 2.0
Commencement Date:  2015-08-17
Completion Date:    2015-09-15
Variables impacted: Precipitation

    The original Official Algorithm for Precipitation
(OAP) version 1.0 was operational until August 17, 2015 and used a
pairwise comparison and moving reference depth to calculate
precipitation. Precipitation data accessed and/or downloaded
prior to this date were calculated using OAP v1.0.
    Beginning August 17, 2015, all precipitation data were
calculated using a new processing algorithm, OAP v2.0. In addition,
the v2.0 algorithm was retroactively applied to all USCRN/USRCRN
stations for their periods of record (PORs) starting when 5-minute
data began being collected. The reprocessing took approximately four
weeks to recalculate all station's existing values from v1.0 to v2.0
for their PORs and was completed on September 15, 2015.
    OAP v2.0 marked a fundamental shift in the procedures used to calculate
precipitation. The new algorithm uses a weighted average approach
based on each sensor's noise level. It has greatly improved the
network's capacity to detect lighter precipitation with greater
confidence. For details, see Leeper et. al., 2015,
(http://journals.ametsoc.org/doi/abs/10.1175/JTECH-D-14-00185.1) and
http://www.ncdc.noaa.gov/crn/documentation.html.

********************************************************************************

3. DIRECTORY ORGANIZATION

The hourly02 directory contains the following subdirectories:

    - /2000 through the present year
        -- useful for obtaining the most up-to-date data from one or more
        stations for a particular year or years (typically updated on an hourly
        basis).

    - /snapshots
        -- useful for obtaining data from all stations for all years.
        The entire dataset (as of the date/time of the filename) can be
        downloaded in a single compressed file. New snapshot files are created
        on a regular basis; the most recent file contains the most recent set
        of data.

    - /updates
        -- real-time files broadcast over NOAAPort; stored in yearly
        subdirectories. These files contain hourly values for all stations.

********************************************************************************

4. FILE AND FILENAME FORMATS

  A. YEARLY

    Each yearly subdirectory in hourly02 contains one file for each USCRN/USRCRN
    station listing its hourly data in ASCII text format. The files are named
    according to the following convention:

                CRNH02TT-YYYY-${name}.txt

       CRNH02 = filename prefix to denote CRN hourly02 data
           TT = 2-character file format number (currently 03)
         YYYY = 4-digit year
      ${name} = station name (state location vector) (e.g. AZ_Tucson_11_W)

    The 2-character sequence TT indicates the file format number and is updated
    when the file format is changed. Previous changes were applied retroactively
    for all years and are outlined below:

     1. [Transition from format '01' to '02']
        On March 22, 2011 15:00 UTC the format of the hourly product was
        changed by removing the COOPNO (Cooperative Observer Program Number)
        column. This had been the second column in the format, starting at
        character 7 and ending at character 12. With the removal of
        this column, all following columns were shifted to the left by
        7 characters. The contents of the shifted columns remained the same.

     2. [Transition from format '02' to '03']
        On January 7, 2013 15:00 UTC the format of the hourly product was
        changed by adding the SUR_TEMP_TYPE column. This became the
        20th column in the format, starting and ending at character 125.
        With the addition of this column, all the following columns were
        shifted to the right by 2 characters. The contents of the shifted
        columns remained the same.

  B. SNAPSHOTS

    The 'snapshots' directory contains a series of compressed (.zip) files.
    Each file contains the entire data archive of USCRN/USRCRN hourly02 data as
    of the date/time shown on its filename. Once uncompressed, the directory and
    file structure are identical to the yearly subdirectories (as explained
    above). Snapshots are created and uploaded at regular intervals, and are
    named according to the following convention:

                CRNH02TT-YYYYMMDDHHmm.zip

       CRNH02 = filename prefix to denote CRN hourly02 data
           TT = 2-character file format number (see above)
         YYYY = 4-digit year files generated
           MM = 2-digit month files generated (01=Jan, ..., 12=Dec)
           DD = 2-digit day of month files generated
           HH = 2-digit hour of day files generated
           mm = 2-digit minute files generated

    Users may obtain the most recent archive of data for all stations and all
    years by downloading the most recent file in this directory. As improvements
    to the dataset are made, the snapshot files serve as a historical record of
    the archive through time.

  C. UPDATES

    The 'updates' directory contains a record of the real-time files which are
    produced hourly and broadcast over NOAAPort (SXXX91 CRNH02). The
    yearly subdirectories contain a collection of ASCII files named according
    to the following convention:

                CRNFFH02TT-YYYYMMDDHHmm.txt

           FF = 2-digit file frequency, in minutes (60)
          H02 = filename prefix to denote CRN hourly02 data
           TT = 2-character file format number (see above)
         YYYY = 4-digit year
           MM = 2-digit month (01=Jan, ..., 12=Dec)
           DD = 2-digit day of month
           HH = 2-digit hour of day
           mm = 2-digit minute

    Each file contains all the USCRN/USRCRN hourly data from every station
    loaded into the database since the last transmission (during the period of
    time lasting 'FF' minutes and ending at the UTC time YYYYMMDDHHmm). Note
    that 'updates' files are *not* named according to the observation time.
    Data from stations generally arrives at NCDC and are loaded into the
    database steadily throughout the hour, however sometimes an observation is
    relayed several hours later (due to temporary transmission problems, etc).

********************************************************************************

5. DATA FIELDS / FORMATS

Each station file contains fixed-width formatted fields with a single hour's
data per line. A summary table of the fields and a detailed listing of field
definitions/column formats are shown below.

Fortran users will find the column widths and counts useful.

The file "HEADERS.txt", found in the hourly02 directory, is designed to be
prepended to the data for use with spreadsheet programs, data extraction tools
(e.g. awk) or any other programming language. This file contains the following
three lines:

    1. Field Number
    2. Field Name
    3. Unit of Measure

Please be sure to refer to the "Important Notes" section below for essential
information.

All hourly data are calculated over the 60-minute period *ending* at the UTC
and LST times shown. Please note that the station's Local Standard Time is
always used, regardless of its Daylight Savings status.

Field#  Name                           Units
---------------------------------------------
   1    WBANNO                         XXXXX
   2    UTC_DATE                       YYYYMMDD
   3    UTC_TIME                       HHmm
   4    LST_DATE                       YYYYMMDD
   5    LST_TIME                       HHmm
   6    CRX_VN                         XXXXXX
   7    LONGITUDE                      Decimal_degrees
   8    LATITUDE                       Decimal_degrees
   9    T_CALC                         Celsius
   10   T_HR_AVG                       Celsius
   11   T_MAX                          Celsius
   12   T_MIN                          Celsius
   13   P_CALC                         mm
   14   SOLARAD                        W/m^2
   15   SOLARAD_FLAG                   X
   16   SOLARAD_MAX                    W/m^2
   17   SOLARAD_MAX_FLAG               X
   18   SOLARAD_MIN                    W/m^2
   19   SOLARAD_MIN_FLAG               X
   20   SUR_TEMP_TYPE                  X
   21   SUR_TEMP                       Celsius
   22   SUR_TEMP_FLAG                  X
   23   SUR_TEMP_MAX                   Celsius
   24   SUR_TEMP_MAX_FLAG              X
   25   SUR_TEMP_MIN                   Celsius
   26   SUR_TEMP_MIN_FLAG              X
   27   RH_HR_AVG                      %
   28   RH_HR_AVG_FLAG                 X
   29   SOIL_MOISTURE_5                m^3/m^3
   30   SOIL_MOISTURE_10               m^3/m^3
   31   SOIL_MOISTURE_20               m^3/m^3
   32   SOIL_MOISTURE_50               m^3/m^3
   33   SOIL_MOISTURE_100              m^3/m^3
   34   SOIL_TEMP_5                    Celsius
   35   SOIL_TEMP_10                   Celsius
   36   SOIL_TEMP_20                   Celsius
   37   SOIL_TEMP_50                   Celsius
   38   SOIL_TEMP_100                  Celsius

   1    WBANNO  [5 chars]  cols 1 -- 5
          The station WBAN number.

   2    UTC_DATE  [8 chars]  cols 7 -- 14
          The UTC date of the observation.

   3    UTC_TIME  [4 chars]  cols 16 -- 19
          The UTC time of the observation. Time is the end of the observed
          hour, so the 0000 hour is actually the last hour of the previous
          day's observation (starting just after 11:00 PM through midnight).

   4    LST_DATE  [8 chars]  cols 21 -- 28
          The Local Standard Time (LST) date of the observation.

   5    LST_TIME  [4 chars]  cols 30 -- 33
          The Local Standard Time (LST) time of the observation. Time is the
          end of the observed hour (see UTC_TIME description).

   6    CRX_VN  [6 chars]  cols 35 -- 40
          The version number of the station datalogger program that was in
          effect at the time of the observation. Note: This field should be
          treated as text (i.e. string).

   7    LONGITUDE  [7 chars]  cols 42 -- 48
          Station longitude, using WGS-84.

   8    LATITUDE  [7 chars]  cols 50 -- 56
          Station latitude, using WGS-84.

   9    T_CALC  [7 chars]  cols 58 -- 64
          Average air temperature, in degrees C, during the last 5 minutes
          of the hour. See Note F.

   10   T_HR_AVG  [7 chars]  cols 66 -- 72
          Average air temperature, in degrees C, for the entire hour. See Note
          F.

   11   T_MAX  [7 chars]  cols 74 -- 80
          Maximum air temperature, in degrees C, during the hour. See Note
          F.

   12   T_MIN  [7 chars]  cols 82 -- 88
          Minimum air temperature, in degrees C, during the hour. See Note
          F.

   13   P_CALC  [7 chars]  cols 90 -- 96
          Total amount of precipitation, in mm, recorded during the hour. See
          Note F.

   14   SOLARAD  [6 chars]  cols 98 -- 103
          Average global solar radiation, in watts/meter^2.

   15   SOLARAD_FLAG  [1 chars]  cols 105 -- 105
          QC flag for average global solar radiation. See Note G.

   16   SOLARAD_MAX  [6 chars]  cols 107 -- 112
          Maximum global solar radiation, in watts/meter^2.

   17   SOLARAD_MAX_FLAG  [1 chars]  cols 114 -- 114
          QC flag for maximum global solar radiation. See Note G.

   18   SOLARAD_MIN  [6 chars]  cols 116 -- 121
          Minimum global solar radiation, in watts/meter^2.

   19   SOLARAD_MIN_FLAG  [1 chars]  cols 123 -- 123
          QC flag for minimum global solar radiation. See Note G.

   20   SUR_TEMP_TYPE  [1 chars]  cols 125 -- 125
          Type of infrared surface temperature measurement: 'R' denotes raw
          (uncorrected), 'C' denotes corrected, and 'U' when unknown/missing.
          See Note H.

   21   SUR_TEMP  [7 chars]  cols 127 -- 133
          Average infrared surface temperature, in degrees C. See Note H.

   22   SUR_TEMP_FLAG  [1 chars]  cols 135 -- 135
          QC flag for infrared surface temperature. See Note G.

   23   SUR_TEMP_MAX  [7 chars]  cols 137 -- 143
          Maximum infrared surface temperature, in degrees C.

   24   SUR_TEMP_MAX_FLAG  [1 chars]  cols 145 -- 145
          QC flag for infrared surface temperature maximum. See Note G.


In [ ]:
pd.read_csv()